body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: 13px;
}

.nav-dropdonw, .nav-dropdonw:hover, .nav-dropdonw:active{
  background-color: transparent;
  color: gray;
  border: none;
}

.basic-btns {
  border-radius: 27px;
}

.top-header {
  height: 200px;
  background-color: #F56731;
}

.bottom-header {
  height: 100px;
}

.channel-image {
  position: relative;
}

.channel-image img {
  height: 79px;
  position: absolute;
  top: -12px;
}

.title-area {
  display: flex;
  padding-top: 4px;
}

.channel-text-title {
  margin-left: 100px;
}

.channel-text-title .sub-title {
  color: gray;
}

.content-section {
  background-color: #656D73;
  min-height: 23rem;
}

.feed-list-item .card{
  border: none
}

.feed-list-item .left-section {
  background-color: #E0E2E3;
}

.feed-list-item .list-item-posted-section {
  font-size: 11px;
  color: gray;
}

.feed-list-item .list-item-footer-section {
  font-size: 13px;
  color: gray;
  padding: 5px;
  font-weight: bold;
}

.feed-list-item .list-item-footer-section div{
  padding: 5px;
}

.right-side-card-item .card-header{
  background-color: red;
}
